.regForm{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    background-color: white;
    border-radius: 5px;
}

.regFormTitle{
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px !important;
}

.regFormSubTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px !important;
}

.regFormSubText{
    font-family: 'Barlow', sans-serif;
    font-size: 18px !important;
}

.regFormDayTitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px !important;
    text-align: center;
}

.formInputBox{
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
}

.mb-3{
    font-family: 'Barlow', sans-serif;
    font-size: 16px !important;
    margin-bottom: 40px !important;
}

.confirmRegBtn{
    width: fit-content;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px !important;
    background-color: rgb(71, 29, 112) !important;
    border-color: rgb(71, 29, 112) !important;
}

.btnDiv{
    text-align: right;
}

#dropInBtn{
    margin-left: 5px;
    margin-right: 5px;
}

#termBtn{
    margin-left: 30px;
    margin-right: 5px;
}

.radioLabel{
    font-family: 'Barlow', sans-serif;
    font-size: 18px !important;
}

.btnGroup{
    margin-bottom: 20px;
}

.errorMsg{
    font-family: 'Barlow', sans-serif;
    font-size: 13px !important;
}
